<div class="entry top_pad">
    <h3>{{ entry.title }}</h3>
    <div class="meta small">
        {% if current_user and current_user.id == entry.author_id %}
        <a href="/compose?id={{ entry.id }}">{{ _("Edit") }}</a> - 
        {% end %}
        <a href="/raw/{{ entry.slug }}">{{ _("View Raw") }}</a> - 
        
        {%if author%}Submitted by {{author.name }}, on{%else%}Posted {%end%} 
        {{ locale.format_date(entry.published, full_format=True, shorter=True) }}
    </div>

    <div class="description top_pad"><blockquote>{{ entry.description }}</blockquote></div>
    
    <div class="script_output"><pre class="prettyprint">{{ entry.body }}</pre></div>
</div>
