{% extends "base.html" %}
{% block content %}    
	<div id="body_container">
        <div class="container">
            <div class="twelve columns alpha">
                <p class="light_text">
                    <a href="/"><img class="logo_image" src="{{ static_url("img/logo.png") }}" alt="ArmaMG Logo"></a>
                    The latest version (for Windows) is 0.1 (Preview)
                    <br><span class="small"> * Requires .NET Framework 4+</span>
                </p>
                
            </div>
            <div class="four columns omega">
                <a href="/serve/0.1" target="_blank" class="hero_button hero_button_blue">
                    <img src="{{ static_url("img/iDownload.png") }}">
                    Download v0.1
                </a>
            </div>
        </div><!-- container -->
    </div><!-- body container -->

    <div class="container mega_top_pad">
        <div class="sixteen columns alpha omega">
            <h3>Previous Versions</h3>
            <ul>
                <li><a href="/serve/0.1" target="_blank">Version 0.1 - PREVIEW</a> (Released 17 March 2013)</li>
            </ul>
            
            <h3 class="top_pad">Change Log</h3>
            <h4>Version 0.1 - PREVIEW</h4>
            <blockquote>
                This is a preview version - treat it like Arma3 Alpha... Alpha.  Some features are not implemented or partially implemented and documentation is lacking
            </blockquote>
            <ul>
                <li>New Features:
                    <ul>
                        <li>+ Err... everything!</li>
                        <li>+ Custom Data Manager</li>
                        <li>+ Mission Generator Wizard</li>
                        <li>+ Generate SQM files you can copy/paste to your mission folder</li>
                    </ul>
                </li>
                <li>Known Issues:
                    <ul>
                        <li>! All groups spawn at the same point</li>
                        <li>! Script download from anvilproject.com not yet supported</li>
                        <li>! Output to folder not yet supported</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% end %}