{% extends "base.html" %}
{% block content %}    
	<div id="body_container">
        <div class="container">
            <div class="twelve columns alpha">
                <p class="light_text">
                    <a href="/"><img class="logo_image" src="{{ static_url("img/logo.png") }}" alt="ArmaMG Logo"></a>
                    The latest version (for Windows) is 0.2 (Preview)
                    <br><span class="small"> * Requires .NET Framework 4+</span>
                </p>
                
            </div>
            <div class="four columns omega">
                <a href="/serve/0.2" target="_blank" class="hero_button hero_button_blue">
                    <img src="{{ static_url("img/iDownload.png") }}">
                    Download v0.2
                </a>
            </div>
        </div><!-- container -->
    </div><!-- body container -->

    <div class="container mega_top_pad">
        <div class="ten columns alpha">
            <h3>Current Version</h3>
            <ul>
                <li><a href="/serve/0.2" target="_blank">Version 0.2 - PREVIEW</a> (Released 28 March 2013, downloaded {{ d002 }} times)</li>
            </ul>
            <blockquote>
                New units added and an objective defence mission generator
            </blockquote>
            <ul>
                <li>New Features:
                    <ul>
                        <li>+ Defend the objective! Mission generator with waypoints and triggers</li>
                        <li>+ Link to scripts at http://www.anvilproject.com/ and download to </li>
                        <li>+ Export mission and script to folder when generated</li>
                    </ul>
                </li>
                <li>Known Issues:
                    <ul>
                        <li>! Can't select between "defend" and "random" mission generators (only defend available)</li>
                    </ul>
                </li>
            </ul>
        </div>
        
        <div class="six columns omega well">
            <h3>Development Branch Features</h3>
            <blockquote>
                Version 0.3 is the current development branch - it is only available by building from the source code available at 
                <a href="https://www.github.com/will-hart/anvil">https://www.github.com/will-hart/anvil</a>.
            </blockquote>
            <ul>
                <li>New Features:
                    <ul>
                        <li>+ Capture the objective mission generator</li>
                        <li>+ Support for Takistan missions</li>
                        <li>+ Complete list of spawn points for Chernarus and Takistan</li>
                    </ul>
                </li>
                <li>In progress features:
                    <ul>
                        <li>~ Patrol mission generator - similar to capture but multiple objectives</li>
                    </ul>
                </li>
            </ul>
        </div>
        
        <hr>
        
        <div class="sixteen columns alpha omega">
            <h3>Previous Versions</h3>
            <ul>
                <li><a href="/serve/0.1" target="_blank">Version 0.1 - PREVIEW</a> (Released 17 March 2013, downloaded {{ d001 }} times)</li>
            </ul>
            
            <h3 class="top_pad">Change Log</h3>
            <h4>Version 0.1 - PREVIEW</h4>
            <blockquote>
                This is a preview version - treat it like Arma3 Alpha... Alpha.  Some features are not implemented or partially implemented and documentation is lacking
            </blockquote>
            <ul>
                <li>New Features:
                    <ul>
                        <li>+ Err... everything!</li>
                        <li>+ Custom Data Manager</li>
                        <li>+ Mission Generator Wizard</li>
                        <li>+ Generate SQM files you can copy/paste to your mission folder</li>
                    </ul>
                </li>
                <li>Known Issues:
                    <ul>
                        <li>! All groups spawn at the same point (fixed in v0.2)</li>
                        <li>! Script download from anvilproject.com not yet supported (implemented in v0.2)</li>
                        <li>! Output to folder not yet supported (implemented in v0.2)</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% end %}