{% extends "base.html" %}

{% block content %}

<div id="hero_container">
        <div class="container top_pad">
            <div class="sixteen columns">
                <img id="main_banner" src="{{ static_url("img/banner.png") }}" alt="ArmaMG Banner">
                <img id="small_banner" src="{{ static_url("img/logo.png") }}" alt="ArmaMG Logo">
            </div>
        </div>
    </div>
    
	<div id="body_container">
        <div class="container">
            <div class="four columns alpha">
                <h3 class="light_text">Fast</h3>
                <p class="light_text">Build playable missions with just a few clicks</p>
            </div>
            <div class="four columns ">
                <h3 class="light_text">Random</h3>
                <p class="light_text">Add a random element to your missions</p>
            </div>
            <div class="four columns">
                <h3 class="light_text">Configurable</h3>
                <p class="light_text">Configuration defaults to suit your style</p>
            </div>
            <div class="four columns omega">
                <h3 class="light_text">Scriptable</h3>
                <p class="light_text">Online script directory lets you add features</p>
            </div>
        </div><!-- container -->
    </div><!-- body container -->
    
    <div class="container top_pad">
        <div class="sixteen columns alpha omega">
            <p>
                The Anvil Mission Generator (AnvilMG) is an open source Windows app that lets you build the skeleton of a 
                compelling  Arma2 or ArmA3 mission.  It takes the grunt work out of producing a mission, removing the
                 need to micro-manage the placement and armament of units and groups.  To see it in action, 
                <a href="gallery">have a look at some screenshots</a>, or get started below. 
            </p>
        </div>
        
        <div class="one columns alpha">&nbsp;</div>
        <div class="four columns top_pad">
            <a href="downloads" class="hero_button hero_button_blue">
                <img src="{{ static_url("img/iDownload.png") }}">
                Downloads
            </a>
        </div>
        <div class="one columns">&nbsp;</div>
        <div class="four columns top_pad">
            <a href="https://github.com/will-hart/anvil" class="hero_button hero_button_blue">
                <img src="{{ static_url("img/iSource.png") }}">
                Source Code
            </a>
        </div>
        <div class="one columns">&nbsp;</div>
        <div class="four columns top_pad">
            <a href="/browse" class="hero_button hero_button_red">
                Browse Scripts
            </a>
        </div>
        <div class="one columns omega">&nbsp;</div>
    </div><!-- container -->

{% end %}
